.home-header {
  background-color: #FFFFFF;
  padding: 10px 0px 10px 0;
  text-align: center;
}
.blog {
  background-color: #FFFFFF; 
  color: #000000;
}
.blog .post {
  background-color: #FFFFFF;
  border-top: 2px dashed #BDBDBD;
  color: #000000;
  margin-bottom: 25px;
}
.blog .post .date {
  margin-top: 10px;
  color: #3A89C9;
}
.blog .post .title {
  font-weight: bold;
}