#projects-navbar .navbar-default .navbar-nav > li > a {
  color: #000000;
  font-weight: bold;
}
#projects-navbar .navbar-default .navbar-nav > li > a:focus,
#projects-navbar .navbar-default .navbar-nav > li > a:hover {
  background-color: #f8f8f8;
  color: #000000;
}

/* ng1010 CSS */
#map {
  height: 500px;
}