.resume-header {
  background-color: #FFFFFF;
  color: #000000;
}
.resume-header h1 {
  font-size: xx-large;
  font-weight: bold;
}
.resume-header p {
  font-size: 16px;
}
#headshot {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}
.resume-header {
  padding: 10px 0px 10px 0px;
}
.resume-header .text {
  text-align: center;
}

  /* SKILLS SECTION */
.resume-block {
  background-color: #616161;
  margin-bottom: 20px;
  padding: 10px 0px 0px 0px;
  border-radius: 3px;
  box-shadow: 0 6px 6px -6px #000000;
}
.resume-block h2 {
  color: #FFFFFF;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}
.skill-block,
.job-block,
.education-block {
  background-color: #FFFFFF;
  margin: 10px 10px 20px 10px;
  padding: 5px 5px 0px 5px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  box-shadow: 0 6px 6px -6px #000000;
}
.skill-block h3 {
  margin: 0px 0px 1px 0px;
  padding: 0px 0px 0px 0px;
}
.skill-block .skill-list {
  margin: 0px 0px 0px 20px;
}
.skill-block li {
  background-color: #3A89C9;
  color: #FFFFFF;
  margin: 4px 10px 0px 0px;
}

  /* WORK EXPERIENCE SECTION */
.job-block .header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.logo {
  float: right;
  max-height: 75px;
  max-width: 200px;
}
.job-block .info,
.education-block .info {
  margin: 0px 0px 0px 10px;
  padding: 0 0 0 0;
}
.job-block .date li {
  margin: 0 0 0 0;
}
.job-block .description {
  margin: 0px 0px 0px 20px;
}
.job-block .description .outer-list {
  margin-left: -20px;
}
.job-block .description .inner-list {
  margin-left: -20px;
}
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}